.htaccess
/var
/downloader
/app/etc/local.xml
*.db
*.gitignore
/app/code/community/HM
*.buildpath
*.project
*.settings
*.yml
/nbproject
/media
/.metadata
/logger
test.php
/ffty_wsqueue_framewwork
/app/authorize
test_nsf.php
MultipartSoapClient.php